<div *ngIf="loginservice.logged">
    <div *ngIf="!formAct">
        <div>
            <mat-toolbar >
                <span class="title">PREFERENCIAS</span>
                <span class="example-spacer"></span>
                <button mat-button (click)="Agregar()" >Agregar
                    <mat-icon>add_to_photos</mat-icon>
                </button>
            </mat-toolbar>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let pref of preferencias">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>PREFERENCIA</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                    <p>
                        tipoInmueble: {{pref.tipo.tipo}}
                        <br>
                        estado: {{pref.estado.estado}}
                        <br>
                        ubicacion: {{pref.ubicacion.ubicacion}}
                        <br>
                        monedamenor: {{pref.monedamenor.moneda}}
                        <br>
                        preciomenor: {{pref.preciomenor}}
                        <br>
                        monedamayor: {{pref.monedamayor.moneda}}
                        <br>
                        precioMayor: {{pref.preciomayor}}
                        <br>
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-button (click)="Editar(pref.idPreferencia)">Editar</button>
                    <button mat-button (click)="Eliminar(pref)">Eliminar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="formAct">
        <div>
            <mat-toolbar>
                <button mat-button (click)="Regresar()">
                    <mat-icon>undo</mat-icon>Regresar
                </button>
                <span>AGREGAR UNA PREFERENCIA</span>
            </mat-toolbar>
        </div>
        <div *ngIf="!modal">
            <mat-card>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>tipoInmueble</mat-label>
                        <mat-select name="tipo" #tipo="ngModel" [(ngModel)]="preferencia.tipo">
                            <mat-option *ngFor="let tip of tipos" [value]="tip">
                            {{tip.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>estado</mat-label>
                        <mat-select name="estado" #estado="ngModel" [(ngModel)]="preferencia.estado">
                            <mat-option *ngFor="let tip of estados" [value]="tip">
                            {{tip.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>ubicacion</mat-label>
                        <mat-select name="ubicacion" #ubicacion="ngModel" [(ngModel)]="preferencia.ubicacion">
                            <mat-option *ngFor="let tip of ubicaciones" [value]="tip">
                            {{tip.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <div>
                        <h3>Precio Menor</h3>
                        <mat-form-field appearance="fill">
                            <mat-label>Moneda</mat-label>
                            <mat-select name="precioMenormoneda" #precioMenormoneda="ngModel" [(ngModel)]="preferencia.monedamenor">
                                <mat-option *ngFor="let per of monedas" [value]="per">
                                {{per.moneda}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Cantidad</mat-label>
                            <input matInput name="precioMenorcantidad" #precioMenorcantidad="ngModel" [(ngModel)]="preferencia.preciomenor">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Precio Mayor</h3>
                        <mat-form-field appearance="fill">
                            <mat-label>Moneda</mat-label>
                            <mat-select name="precioMayormoneda" #precioMayormoneda="ngModel" [(ngModel)]="preferencia.monedamayor">
                                <mat-option *ngFor="let per2 of monedas" [value]="per2">
                                {{per2.moneda}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Cantidad</mat-label>
                            <input matInput name="precioMayormoneda" #precioMayormoneda="ngModel" [(ngModel)]="preferencia.preciomayor">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button *ngIf="!editar" mat-button (click)="Guardar()" style="margin-left: 3%; width: 45%; background-color: green; color: white;">
                        <mat-icon>add</mat-icon>Guardar
                    </button>
                    <button *ngIf="editar" mat-button (click)="Actualizar()" style="margin-left: 3%; width: 45%; background-color: green; color: white;">
                        <mat-icon>add</mat-icon>Actualizar
                    </button>
                    <button mat-button (click)="Regresar()" style="margin-left: 3%; width: 45%; background-color: red; color: white;">
                        <mat-icon>west</mat-icon>Cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>