footer {
    height: 150px;
    background-color: black;
    color: white;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.boton {
    font-size: 30px;
    padding: 2px;
}

.boton:hover {
    background-color: #FFF;
}

.whatsapp-icon {
    margin-top: 13px;
}

.fa-instagram {
    color: deeppink;
}

.fa-linkedin {
    font-size: 25px;
    color: white;
    background-color: steelblue;
}