<div style="background-color: grey;">
    <section class="banner">
        <app-header></app-header>
    </section>
    <div class="servicios" name="servicios">
        <h1 style="padding-top: 4%; font-size: 25px;">Tus necesidades</h1>
        <h1 style="font-size: 50px; font-weight: bold; padding-bottom: 3%;">Nuestros Servicios</h1>
        <section class="row">
            <div>
                <span>Seguridad</span> <br><br><br>
                <p>Sabemos que la seguridad es muy importante, por ellos realizamos una precalificación de los clientes potenciales, un agente asociado siempre lo acompañará y presentará su inmueble a clientes potenciales previamente evaluados.</p>
                <br>
                <button mat-button (click)="Contacto()" class="saber-mas">Saber Mas</button>
            </div>
            <div>
                <span>Asesoría Legal y Financiera</span><br><br><br>
                <p>Evaluación Comparativa del precio de mercado, Análisis previo de la documentación realizado por especialistas en Derecho Inmobiliario, Redacción y revisión de documentos inmobiliarios tanto para el cliente comprador como para el vendedor.</p>
                <br>
                <button mat-button (click)="Contacto()" class="saber-mas">Saber Mas</button>
            </div>
        </section>
        <section class="row">
            <div>
                <span>Gestión</span><br><br><br>
                <p>Realizamos todos los trámites requeridos ante Bancos, Registros, Notarías, Alcaldías, Infocorp y SUNAT para comprar, vender o alquilar su inmueble.</p>
                <br>
                <button mat-button (click)="Contacto()" class="saber-mas">Saber Mas</button>
            </div>
            <div>
                <span>Marketing</span><br><br><br>
                <p>Anunciamos y promocionamos su inmueble en Medios Impresos, Internet y Rótulos para la promoción oportuna de su inmueble, además de redes sociales y los principales Grupos de Agentes del Mercado.
                </p>
                <br>
                <button mat-button (click)="Contacto()" class="saber-mas">Saber Mas</button>
            </div>
        </section>
        <section class="row">
            <div>
                <span>Seguimiento</span><br><br><br>
                <p>Desde el inicio hasta el final de la operación inmobiliaria adquirimos el compromiso de asegurar a nuestro cliente una transacción transparente, segura y satisfactoria.</p>
                <br>
                <button mat-button (click)="Contacto()" class="saber-mas">Saber Mas</button>
            </div>
            <div>
                <span>Búsqueda Especializada</span><br><br><br>
                <p>Gracias a que pertenecemos a las principales redes del sector inmobiliario, podemos garantizar y ofrecer un diverso catálogo de propiedades inmobiliarias que se adecuen a sus necesidades.</p>
                <br>
                <button mat-button (click)="Contacto()" class="saber-mas">Saber Mas</button>
            </div>
        </section>
    </div>
</div>