/*servicios*/

.servicios {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/img/servicios.png');
    align-items: center;
    justify-content: center;
    text-align: center;
}

.servicios section {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.servicios div {
    width: 35%;
    padding: 2%;
}

.servicios span {
    font-size: 25px;
    font-weight: bold;
}

.servicios p {
    font-size: 15px;
}

.saber-mas {
    background-color: white;
    color: black;
    border-radius: 25px;
}