<mat-divider></mat-divider>
<footer>
    <div class="row" style="align-items: center;">
        <div class="col">
            <img src="../../../../assets/img/icono-celular-web.png" style="height: 120px; margin-top: 15px; margin-left: 15px;">
        </div>
        <div class="col-6" style="text-align: center;">
            <h2>&copy; 2020 Todos los derechos reservados <br> METROBIZ S.A.C. • Ruc 20601388384 • Cod. Reg. MVCS PJ Nº 01294
            </h2>
        </div>
        <div class="col">
            <h1 style="margin-left: 120px;">Síguenos</h1>
            <button mat-button>
                <a href="https://api.whatsapp.com/send?phone=51982345056" class="whatsapp" target="_blank"> <i
                        class="fa fa-whatsapp whatsapp-icon"></i></a>
            </button>
            <button mat-button class="boton">
                <a href="https://www.facebook.com/metropoliagentes" target="_blank"><i class="fab fa-facebook"></i></a>
            </button>
            <button mat-button class="boton">
                <a href="https://www.instagram.com/metropoliperu/" target="_blank"><i class="fab fa-instagram"></i></a>
            </button>
            <button mat-button class="boton">
                <a href="https://www.linkedin.com/company/metropoliperu/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </button>
        </div>
    </div>
</footer>